SIGETIC_DOMAIN=sigetic.sancarlosdeguaroa.gov.co

POSTGRES_DB=sigetic
POSTGRES_USER=sigetic_app
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_POSTGRES_LARGO

JWT_ISSUER=SIGETIC.Api
JWT_AUDIENCE=SIGETIC.Web
JWT_SECRET_KEY=CAMBIAR_LLAVE_JWT_MINIMO_64_CARACTERES_ALEATORIOS
JWT_EXPIRATION_MINUTES=480

EMAIL_ENABLED=false
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=
EMAIL_SMTP_PASSWORD=
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=SIGETIC
EMAIL_ENABLE_SSL=true
EMAIL_TICKET_RECIPIENTS=cmarinv2005@gmail.com
